

body {
  background-color: black;
  color: gold;
  text-align: center;
  max-width: 1300px;
  margin-left: 20px;
}

/* NAVIGATION BAR */

.logo {
  width: 30%;
}

.nav-item {
  padding-top: 20px;
}

.navigationlinktab {
  font-size: 20px;
  color: gold;
  padding: 0 20px 0 20px;
}

.navigationlinktab:hover {
  color: white;
}

.navigationbar {
  padding: 45px 55px;
}

/* CONTACT US IMAGE */

.contactusimage {
  padding-top: 2%;
  width: 75%;
}


/* SOCIAL MEDIA ICONS ROW */

.socialmediaicons {
  padding-top: 10%;
}

.icon {
  width: 30%;
}

/* .whatsapp {
  width: 60%
} */

.instagram {
  border-radius: 18%;
}

.gmail {
  width: 10%;
  border-radius: 18%;
  /* padding-bottom: 20px; */
}

/* SOCIAL MEDIA LINKS */
h6 {
  padding-top: 20px;
  font-size: 10px;
}

/* TITLE */

.title {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  border: solid 3px;
  width: 60%;
  position: relative;
  left: 20%;
  border-radius: 16px;
}

.title:hover {
  border-color: white;
}

.heading {
  margin: 30px auto 30px auto;
}

/* .heading:hover {
  color: white;
} */

/* FOOTER */

.footer {
  /* padding-top: 20px; */
  background-color: white;
  /* height: 200px; */
  color: black;
  width: 100%;
}

h4 {
  padding-top: 30px;
}

p {
  padding-top: 40px;
  display: inline-block;
  padding-left: 30px;
}

h5 {
  padding-top: 50px;
  padding-bottom: 50px;
  letter-spacing: 1px;
}


/* FOR MOBILE PHONES */

@media (max-width: 1028px) {

  body {
    margin-left: 0;
  }

}
